.error-404 {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    width: 100%;
    max-width: 732px;
    border: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 30px 12px;
    margin: 80px 12px;
  }
  &__title h1 {
    font-size: 76px !important;
    font-weight: 700;
    line-height: 106px;
    margin: 0;
  }
  &__text p {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin-bottom: 0;
  }
  &__text {
    margin-bottom: 30px;
  }
}
