.product {
  position: relative;
  transition-duration: 200ms;
  &:hover {
    border: 1px solid $style4 !important;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
    a:first-of-type.woocommerce-LoopProduct-link {
      &::after {
        content: '';
        position: absolute;
        background-image: url('/app/themes/foreto/assets/img/icons/search.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px;
        background-color: #fff;
        border-radius: 50%;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 48px;
        height: 48px;
        z-index: 1;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 25px 0px;
      }
    }
  }
}

.woocommerce ul.products {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  &::before,
  &::after {
    display: none;
  }
}

.woocommerce ul.products li.product,
.woocommerce-products .product {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  height: 100%;
  margin: 0;
  border: 1px solid #dcdcdc;

  .onsale {
    margin: 10px 0 0 0;
    position: absolute;
    right: 0;
    color: #fff;
    font-weight: bold;
  }

  .attachment-woocommerce_thumbnail {
    margin: auto;
  }

  .price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    ins {
      text-decoration: none;
    }
    del .woocommerce-Price-amount {
      margin-left: 8px;
      font-size: 16px;
      font-weight: normal;
      color: #868e96;
    }
    .woocommerce-Price-amount {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      color: $style;
    }
  }

  .button {
    margin-top: 1em;
    margin-bottom: 24px;
    background-color: $style;
    font-size: 12px;
    padding: 13px 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 200ms;
    transition-property: background-color;
    &:hover {
      background-color: #c82333;
    }
  }
}

.woocommerce span.onsale,
.woocommerce-products .product .onsale {
  height: 25px;
  min-height: auto;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 0;
  background-color: #dc3545;
  font-size: 12px;
  &.itsnew {
    background-color: #28a745;
  }
}

.woocommerce-loop-product__title {
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
}
